<div id="root">
  <div class="content mx-auto">
    <div class="sceneRoad scene--cube scene--persp-cube">
      <div class="cube">
        <div class="cube__face cube__face--road"></div>
        <div class="party-text">Party</div>
      </div>
    </div>
    <div class="scene scene--cube scene--persp-cube">
      <div class="cube">
        <div class="cube__face cube__face--front">
          <div class="car-light-left"></div>
          <div class="car-light-right"></div>
        </div>
        <div class="cube__face cube__face--back"></div>
        <div class="cube__face cube__face--right"></div>
        <div class="cube__face cube__face--left car-text">Car</div>
        <div class="cube__face cube__face--top"></div>
        <div class="cube__face cube__face--bottom"></div>
        <div class="cube__face cube__face--hood"></div>
        <div class="cube__face cube__face--window">
          <div class="car-window"></div>
        </div>
        <div class="cube__face cube__face--rearwindow"></div>
        <div class="wheelsNew">
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
    </div>
    <!--<div class="carWrp">
      <div class="carCnt">
        <div class="carBg">
          <div class="car">
          </div>
          <div class="carFront">
          </div>
        </div>
        <div class="wheelBoxes">
          <div class="wheelBoxFront"></div>
          <div class="wheelBoxBack"></div>
        </div>
        <div class="wheels">
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
      <div class="carCnt2">
        <div class="carBg">
        </div>
      </div>
    </div>-->
  </div>
</div>

<!--perspective: 800px; perspective-origin: 100% 0%;-->
<!--<div class="scene scene--cube scene--persp-cube">
  <div class="cube">
    <div class="cube__face cube__face--front">front</div>
    <div class="cube__face cube__face--back">back</div>
    <div class="cube__face cube__face--right">right</div>
    <div class="cube__face cube__face--left">left</div>
    <div class="cube__face cube__face--top">top</div>
    <div class="cube__face cube__face--bottom">bottom</div>
    <div class="cube__face cube__face--hood">hood</div>
    <div class="cube__face cube__face--window">window</div>
  </div>
</div>-->