<div id="root">
  <div class="content mx-auto">
    <div class="sceneRoad scene--cube scene--persp-cube">
      <div class="cube">
        <div class="cube__face cube__face--road"></div>
        <div class="party-text">Party</div>
      </div>
    </div>
    <div class="scene scene--cube scene--persp-cube">
      <div class="cube">
        <div class="cube__face cube__face--front">
          <div class="car-light-left"></div>
          <div class="car-light-right"></div>
        </div>
        <div class="cube__face cube__face--back"></div>
        <div class="cube__face cube__face--right"></div>
        <div class="cube__face cube__face--left car-text">Car</div>
        <div class="cube__face cube__face--top"></div>
        <div class="cube__face cube__face--bottom"></div>
        <div class="cube__face cube__face--hood"></div>
        <div class="cube__face cube__face--window">
          <div class="car-window"></div>
        </div>
        <div class="cube__face cube__face--rearwindow"></div>
        <div class="wheelsNew">
          <div class="front"></div>
          <div class="back"></div>
        </div>
      </div>
    </div>
  </div>
</div>