.content {
  position: relative;
  width: 475px;
  height: 250px;
  overflow: hidden;
  /*background-color: lightblue;*/
}

.carWrp {
  perspective: 800px;
  perspective-origin: 100% 0%;
}

.carCnt {
  position: relative;
  width: 200px;
  height: 100px;
  top: 100px;
  left: 50px;

  transform: translateZ(-100px) rotateX(350deg) rotateY(335deg);
  transform-style: preserve-3d;
}

.carBg {
  background-color: #333;
  filter: drop-shadow(2px 0px 0px #333) drop-shadow(-2px 0px 0px #333)
    drop-shadow(0px 2px 0px #333) drop-shadow(0px -2px 0px #333)
    drop-shadow(2px 2px 0px #333) drop-shadow(-2px -2px 0px #333)
    drop-shadow(-2px 2px 0px #333) drop-shadow(2px -2px 0px #333);
}

.car {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 0px;
  left: 0px;
  background-color: #9e2a2b;
  border-radius: 0 10px 0 0;
  clip-path: polygon(
    9% 0%,
    57% 0%,
    63% 50%,
    100% 63%,
    100% 100%,
    0% 100%,
    0% 50%
  );
  animation: scale 1s linear infinite;
}

@keyframes scale {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.95);
  }
  100% {
    transform: scaleY(1);
  }
}

.carFront {
  transform: rotateY(90deg) translateZ(100px);
  position: absolute;
  width: 200px;
  height: 100px;
  top: 0px;
  left: 0px;
  /**background-color: #9e2a2b;**/
  background-color: blue;
  border-radius: 0 10px 0 0;
  clip-path: polygon(
    9% 0%,
    57% 0%,
    63% 50%,
    100% 63%,
    100% 100%,
    0% 100%,
    0% 50%
  );
  /**animation: scale 1s linear infinite;**/
}

.wheelBoxes {
  position: absolute;
}

.wheelBoxFront {
  clip-path: circle(15px at 50% 50%);
  width: 30px;
  height: 30px;
  z-index: 1;
  position: absolute;
  top: 120px;
  background-color: #333;
}

.wheels {
  position: absolute;
  z-index: 1;
}

.front,
.back {
  position: absolute;
  border: 5px solid #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 85px;
  background-color: #e09f3e;
  box-shadow: inset 2px 2px white;
  z-index: 2;
}

.front {
  left: 130px;
  animation: spin 0.5s infinite linear;
}

.back {
  left: 20px;
  animation: spin 0.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

scene--cube {
  width: 200px;
  height: 200px;
  perspective: 500px;
}
.scene {
  position: absolute;
  top: 0px;
  left: 50px;
  transform-origin: bottom;
  animation: scale 1s linear infinite;
}
.sceneRoad {
  position: absolute;
  top: 0px;
  left: 50px;
}
.cube {
  width: 200px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  /**transform: translateZ(-100px) rotateX(350deg) rotateY(335deg);**/
  /*transform: translateZ(-100px) rotateY(-90deg);**/
  transform: translateZ(-100px) rotateY(50deg) rotateX(-10deg) rotateZ(-10deg);
}
.cube__face {
  position: absolute;
  border: 2px solid black;
  background-color: #d43437;
}
.wheelsNew,
.party-text {
  position: absolute;
}

.cube__face--front {
  width: 100px;
  height: 38px;
  top: 112px;
  left: 50px;
}

.cube__face--back {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
}

.cube__face--right,
.cube__face--left,
.wheelsNew {
  width: 200px;
  height: 100px;
  top: 50px;
}

.party-text {
  width: 200px;
  height: 100px;
  top: 50px;
}

.cube__face--top {
  width: 100px;
  left: 50px;
  height: 98px;
  top: 51px;
}

.cube__face--bottom {
  width: 100px;
  height: 200px;
  left: 50px;
}

.cube__face--hood {
  width: 100px;
  left: 50px;
  height: 76px;
  top: 62px;
}

.cube__face--window {
  width: 100px;
  left: 50px;
  height: 51px;
  top: 70px;
}

.cube__face--rearwindow {
  width: 100px;
  left: 50px;
  height: 50px;
  top: 75px;
}

.cube__face--road {
  width: 300px;
  left: -30px;
  height: 1000px;
  top: -400px;
}

.cube__face--road::before {
  content: '';
  position: absolute;
  width: 10px;
  left: 150px;
  height: 100px;
  top: 50px;
  background-color: white;
  box-shadow: 0px 200px white, 0px 400px white, 0px 600px white;
  animation: move 1s linear infinite reverse;
}

@keyframes move {
  from {
    top: 100px;
  }
  to {
    top: -100px;
  }
}

/*.cube__face--front {
  background: hsla(0, 100%, 50%, 0.7);
}
.cube__face--back {
  background: hsla(60, 100%, 50%, 0.7);
}
.cube__face--right {
  background: hsla(120, 100%, 50%, 0.7);
}
.cube__face--left {
  background: hsla(180, 100%, 50%, 0.7);
}
.cube__face--top {
  background: hsla(240, 100%, 50%, 0.7);
}
.cube__face--bottom {
  background: hsla(300, 100%, 50%, 0.7);
}
.cube__face--hood {
  background: hsla(90, 100%, 50%, 0.7);
}
.cube__face--window {
  background: hsla(270, 100%, 50%, 0.7);
}
.cube__face--rearwindow {
}*/
.cube__face--road {
  background-color: grey;
}

.cube__face--front {
}
.cube__face--back {
  clip-path: polygon(100% 50%, 100% 100%, 0% 100%, 0% 50%);
}
.cube__face--right {
  clip-path: polygon(
    91% 0%,
    43% 0%,
    37% 50%,
    0% 63%,
    0% 100%,
    100% 100%,
    100% 50%
  );
}
.cube__face--left {
  clip-path: polygon(
    9% 0%,
    57% 0%,
    63% 50%,
    100% 63%,
    100% 100%,
    0% 100%,
    0% 50%
  );
  /*background-color: #333;*/
}
.cube__face--top {
}
.cube__face--bottom {
}
.cube__face--hood {
}
.cube__face--window {
}
.cube__face--rearwindow {
}
.cube__face--road {
}

/*.cube__face--left::before {
  content: '';
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 90px;
  background-color: red;
  clip-path: polygon(
    9% 0%,
    57% 0%,
    63% 50%,
    100% 63%,
    100% 100%,
    0% 100%,
    0% 50%
  );
}*/

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(50px);
}
.cube__face--left,
.wheelsNew {
  transform: rotateY(-90deg) translateZ(50px);
}
.party-text {
  transform: rotateY(-90deg) translateZ(40px) translateX(275px)
    translateY(-25px);
}
.cube__face--top {
  transform: rotateX(90deg) translateY(-33px) translateZ(50px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
.cube__face--hood {
  transform: rotateX(-100deg) translateY(-62px) translateZ(-5px);
}
.cube__face--window {
  transform: rotateX(13deg) translateY(-16px) translateZ(24px);
}
.cube__face--rearwindow {
  transform: rotateX(-19deg) translateY(6px) translateZ(-95px);
}
.cube__face--road {
  transform: rotateX(-90deg) translateZ(65px);
}

.cube.show-front {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-right {
  transform: translateZ(-50px) rotateY(-90deg);
}
.cube.show-left {
  transform: translateZ(-50px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-50px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-50px) rotateX(90deg);
}

.car-text {
  font-size: 75px;
  font-style: italic;
  font-weight: bold;
  color: black;
  line-height: 107px;
  padding-left: 5px;
}
.party-text {
  font-size: 120px;
  font-style: italic;
  font-weight: bold;
  color: black;
}

.car-window {
  width: 100%;
  height: 100%;
  background-color: rgb(200, 200, 200);
  clip-path: inset(3px 3px 3px 3px);
  border: 5px solid #333;
}

.car-light-left,
.car-light-right {
  height: 15px;
  width: 15px;
  background-color: gold;
  position: absolute;
  top: 5px;
  border: 2px solid black;
}
.car-light-left {
  left: 5px;
}
.car-light-right {
  right: 5px;
}
