<div id="root">
  <div class="content mx-auto">
    <div class="scene">
      <div class="cube-road">
        <div class="road-face"></div>
      </div>
      <div class="cube-text-party">
        <div class="party-text-positioning">
          <div class="balloon-container">
            <div class="reverse-scene-rotation">
              <div class="balloon one"></div>
            </div>
            <div class="reverse-scene-rotation">
              <div class="balloon five"></div>
            </div>
            <div class="reverse-scene-rotation">
              <div class="balloon three"></div>
            </div>
          </div>
          <div class="party-text">Party</div>
        </div>
      </div>
      <div class="cube-car">
        <div class="cube__face cube__face--front">
          <div class="car-light-left"></div>
          <div class="car-light-right"></div>
        </div>
        <div class="cube__face cube__face--back"></div>
        <div class="cube__face cube__face--right"></div>
        <div class="cube__face cube__face--left">
          <div class="car-text">Car</div>
        </div>
        <div class="cube__face cube__face--top"></div>
        <div class="cube__face cube__face--bottom"></div>
        <div class="cube__face cube__face--hood"></div>
        <div class="cube__face cube__face--window">
          <div class="car-window"></div>
        </div>
        <div class="cube__face cube__face--rearwindow"></div>
        <div class="wheels">
          <div class="wheel-front"></div>
          <div class="wheel-back"></div>
        </div>
      </div>
    </div>
  </div>
</div>