#root {
  position: relative;
}

#label-container {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(253, 213, 29, 1) 50%,
    rgba(0, 255, 0, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 5px solid black;
  border-radius: 2em;
}

.label-direction {
  display: flex;
  justify-content: space-around;
  user-select: none;
}

#control {
  /*background: blue;*/
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
}

#control-visible {
  background: gray;
  width: 80%;
  height: 100%;

  border: 5px solid black;
  border-radius: 10px;
}
