#root {
  display: flex;
}

#main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#resetRow {
  display: flex;
  justify-content: center;
}

car-acceleration {
  /*width: 30%;
  float: right;*/
  flex-grow: 1;
}

#resetButton {
  font-size: 4em;
  color: red;
  background-color: white;
  border-color: red;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 0.25em;
}

#resetButton:hover {
  background-color: darkred;
}

#driftButton {
  padding: 0.25em;
  font-size: 8em;
  color: white;
  background-color: blue;
  border-color: black;
  border-radius: 10px;
  border-width: 0.5px;
  margin-top: 0.25em;
}

#driftButton:hover {
  background-color: darkblue;
}
