<div id="root" class="h-100 p-4 metal">
  <div id="main">
    <div id="resetRow">
      <button type="button" id="resetButton" class="btn btn-outline-danger btn-xl font-clickuper">Reset</button>
    </div>
    <div id="driftRow2">
      <button type="button" id="driftButton" class="btn btn-primary btn-xl font-clickuper">Honk</button>
    </div>
  </div>
</div>
<div class="screw tl">
  <div class="indent"></div>
</div>
<div class="screw tr">
  <div class="indent"></div>
</div>
<div class="screw bl">
  <div class="indent"></div>
</div>
<div class="screw br">
  <div class="indent"></div>
</div>