<div class="card overflow-auto" style="margin: 1em; text-align: left; max-height: 90vh;">
  <h5 class="card-header" id="header">
    Ready. Pencils. Draw!
    <button role="button" id="close" class="btn btn-danger btn-sm btn-close float-end"></button>
  </h5>
  <ul class="list-group list-group-numbered list-group-flush list-group-item-action">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto w-100">
        <div class="fw-bold">Flashing dot to flashing box</div>
        <p>Start drawing a line from the flashing dot to a flashing box.</p>
        <p class="fst-italic">Ever played connect the dots?</p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto w-100">
        <div class="fw-bold">Be mindful of your drawn line</div>
        <p>Your car <span class="fst-italic">will</span> follow that path.</p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Pick one box</div>
        <p>This will determine your route.</p>
        <p class="fst-italic">Narrow and short or wide and long?</p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Stay on the road</div>
        <p>This is a <span class="fst-italic">car</span> racing game, these are <span class="fst-italic">not
            planes</span>.</p>
        <p class="fst-italic">The grey goo is actually the road ...</p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Made a mistake? Redraw!</div>
        <p>Sometimes also called <span class="fst-italic">Erase your current path.</span></p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Landscape > Portrait</div>
        <p class="fst-italic">Or how do you drive a car?</p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">The clock is ticking</div>
        <p>There is a time limit.</p>
        <p class="fst-italic">If you don't fini</p>
      </div>
    </li>
    <button role="button" class="btn btn-primary float-end" id="ok">Got it! Let me draw!</button>
  </ul>
</div>