<div class="card" style="margin: 1em; text-align: left;">
  <h5 class="card-header" id="header">
    How to Get Racing! blep
    <button role="button" id="close" class="btn btn-danger btn-sm btn-close float-end"></button>
  </h5>
  <ul class="list-group list-group-numbered list-group-flush list-group-item-action">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto w-100">
        <div class="fw-bold">Download & Extract</div>
        <p>Choose the correct version for your operating system.</p>
        <div class="d-flex justify-content-evenly w-100">
          <a href="https://github.com/CarParty/CarParty-Releases/releases/latest/download/linux.zip"
            class="btn btn-success btn-lg" role="button">Linux</a>
          <a href="https://github.com/CarParty/CarParty-Releases/releases/latest/download/mac.zip"
            class="btn btn-warning btn-lg" role="button">Mac</a>
          <a href="https://github.com/CarParty/CarParty-Releases/releases/latest/download/windows.zip"
            class="btn btn-danger btn-lg" role="button">Windows</a>
        </div>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Run the file contained</div>
        <p>Definitely a virus.</p>
        <p>Please make sure to enter your banking information.</p>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Share your screen!</div>
        <p>A <span class="fst-italic">not bad</span> internet connection is recommended.</p>
        <p>Or, you know, <span class="fst-italic">couches and TVs</span> do exist.</p>
        <p>More people = more fun.</p>
      </div>
    </li>
    <button role="button" class="btn btn-primary float-end" id="ok">Ok</button>
  </ul>
</div>