#svgtrack {
  background-color: aliceblue;
}

#redrawButton:disabled {
  color: red;
  border-color: red;
}

.pulse {
  animation: pulse 1s ease-in-out 0s infinite alternate both;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.9;
  }
}
