<div id="root" class="full-height">
  <svg xmlns="http://www.w3.org/2000/svg" id="svgtrack" viewBox="-500 -1500 1000 1500"
    preserveAspectRatio="xMidYMid meet" class="w-100 h-100">
  </svg>
  <button type="button" id="redrawButton"
    class="btn btn-outline-secondary btn-lg position-absolute top-0 end-0 m-2">Redraw</button>
  <button type="button" id="helpButton"
    class="btn btn-outline-info btn-lg position-absolute top-0 start-0 m-2">Help</button>

  <div class="slide-in-left slide-in-left-center top-50 w-100" id="helpModalContainer">
    <help-modal id="helpModal" class="w-100"></help-modal>
  </div>
</div>