<div id="root" class="full-height">
  <div class="row">
    <div class="d-grid gap-2 col-10 mx-auto">
      <div class="form-floating">
        <input type="text" class="form-control form-control-xl font-clickuper" id="roomcode" placeholder=""
          maxlength="4" autocomplete="off">
        <label for="roomcode">Enter roomcode (ABCD)</label>
      </div>
      <button type="submit" class="btn btn-primary btn-xl font-clickuper" id="submitButton">Join!</button>
      <span class="d-flex justify-content-between">
        <button type="button" id="downloadButton" class="btn btn-outline-info" style="width: 65%;">Start new game (on
          shared
          screen)!</button>
        <a class="btn btn-outline-secondary align-middle" href="https://github.com/CarParty/CarParty" target="_blank"
          rel="noopener noreferrer" role="button"
          style="width: 30%; display: inline-flex; justify-content: center; flex-direction: column;">Source</a>
      </span>
    </div>
  </div>
  <div id="version"></div>
</div>