#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#roomcodeContainer {
  display: flex;
  justify-content: center;
}

#roomcodeWrapper {
  width: 80%;
}

#roomcode {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-color: rgb(206, 212, 218);
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  text-transform: uppercase;
}

#roomcode:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#submitButton {
  width: 100%;
  font-size: 3em;
  color: white;
  background-color: dodgerblue;
  border-color: black;
  border-radius: 10px;
  border-width: 0.5px;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#submitButton:hover {
  background-color: darkblue;
}

#version {
  position: absolute;
  bottom: 0;
  right: 0;
  color: gray;
}

animated-splash {
  margin-top: -200px;
  margin-bottom: -50px;
}
