#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#roomcode {
  text-transform: uppercase;
}

#version {
  position: absolute;
  bottom: 0;
  right: 0;
  color: gray;
}

animated-splash {
  margin-top: -200px;
  margin-bottom: 10px;
}
