@use 'sass:map';

@import './animations.scss';

#root {
  --car-color: #d43437;
  --new-car-color: #d43437;
}

.content {
  position: relative;
  width: 400px;
  height: 350px;
  overflow: hidden;
  // background-color: greenyellow;
}

.wheel-front,
.wheel-back {
  position: absolute;
  border: 5px solid #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 85px;
  background-color: #e09f3e;
  box-shadow: inset 2px 2px white;
  z-index: 2;
  animation: spin 0.5s infinite linear;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.wheel-front {
  left: 130px;
}

.wheel-back {
  left: 20px;
}

$defaultSceneRotation: (
  'y': 50deg,
  'x': -10deg,
  'z': -10deg,
);
/*$defaultSceneRotation: (
  'y': 90deg,
  'x': 0deg,
  'z': -10deg,
);*/
$sideSceneRotation: (
  'y': 90deg,
  'x': 0deg,
  'z': -10deg,
);

.scene {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}
.scene.default-rotation {
  transform: rotateY(map.get($defaultSceneRotation, 'y'))
    rotateX(map.get($defaultSceneRotation, 'x'))
    rotateZ(map.get($defaultSceneRotation, 'z')); // translateZ(-100px);
  // transform: rotateY(90deg) rotateX(0deg) rotateZ(-10deg) translateZ(-50px);
  // transform: rotateY(0deg) rotateX(-1deg) rotateZ(0deg);
  // transform: rotateY(0deg) rotateX(-90deg) rotateZ(0deg) translateZ(200px);
}
.scene.side-rotation {
  transform: rotateY(map.get($sideSceneRotation, 'y'))
    rotateX(map.get($sideSceneRotation, 'x'))
    rotateZ(map.get($sideSceneRotation, 'z')) translateZ(-50px);
}

.car-pos {
  transform-style: preserve-3d;
}

.cube-car {
  width: 100px;
  height: 100px;
  top: 150px;
  left: 70px;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: bottom;
  animation: scale 1s linear infinite;

  @keyframes scale {
    0%,
    100% {
      transform: translateZ(-30px) scaleY(1);
    }
    50% {
      transform: translateZ(-30px) scaleY(0.95);
    }
  }
}

.cube-text-party {
  width: 300px;
  height: 100px;
  top: 100px;
  left: 0px;
  position: absolute;
  transform-style: preserve-3d;
  animation: bounce-up-down 2s ease-in-out infinite;

  @keyframes bounce-up-down {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(4px);
    }
  }
}

.text-party-pos {
  transform-style: preserve-3d;
}

.cube-path {
  width: 300px;
  height: 100px;
  top: 185px;
  left: 0px;
  position: absolute;
  transform-style: preserve-3d;
}

.path-positioning {
  transform-style: preserve-3d;
}

.path {
  width: 200px;
  height: 10px;
  background: var(--car-color);
  transform: translateZ(140px) translateY(70px) translateX(58px) rotateY(-90deg);
}

.cube-pen {
  width: 300px;
  height: 100px;
  top: 185px;
  left: 0px;
  position: absolute;
  transform-style: preserve-3d;
}

.pen-positioning {
  transform-style: preserve-3d;
  transform: translateX(150px) translateY(-10px) translateZ(300px);
}

.pen {
  width: 20px;
  height: 100px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  transform-origin: bottom center;
  transform: rotate(20deg);
  background: var(--car-color);
  border: 1px solid black;
}

.pen-bounce {
  transform-style: preserve-3d;
  animation: bounce-up-down 1.75s ease-in-out infinite;

  @keyframes bounce-up-down {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(4px);
    }
  }
}

.cube__face {
  position: absolute;
  border: 2px solid black;
  background-color: var(--car-color);
}
.wheels,
.party-text {
  position: absolute;
}

.cube__face--front {
  width: 100px;
  height: 38px;
  top: 62px;
  left: 0px;
}

.cube__face--back {
  width: 100px;
  height: 100px;
  top: 0px;
  left: 0px;
}

.cube__face--right,
.cube__face--left,
.wheels {
  width: 200px;
  height: 100px;
  top: 0px;
  left: -50px;
}

.party-text {
  width: 200px;
  height: 100px;
  top: 0px;
}

.cube__face--top {
  width: 100px;
  left: 0px;
  height: 98px;
  top: 1px;
}

.cube__face--bottom {
  width: 100px;
  height: 200px;
  left: 0px;
}

.cube__face--hood {
  width: 100px;
  left: 0px;
  height: 76px;
  top: 12px;
}

.cube__face--window {
  width: 100px;
  left: 0px;
  height: 51px;
  top: 20px;
}

.cube__face--rearwindow {
  width: 100px;
  left: 0px;
  height: 50px;
  top: 25px;
}

@keyframes move {
  from {
    top: 100px;
  }
  to {
    top: -100px;
  }
}

/*.cube__face--front {
  background: hsla(0, 100%, 50%, 0.7);
}
.cube__face--back {
  background: hsla(60, 100%, 50%, 0.7);
}
.cube__face--right {
  background: hsla(120, 100%, 50%, 0.7);
}
.cube__face--left {
  background: hsla(180, 100%, 50%, 0.7);
}
.cube__face--top {
  background: hsla(240, 100%, 50%, 0.7);
}
.cube__face--bottom {
  background: hsla(300, 100%, 50%, 0.7);
}
.cube__face--hood {
  background: hsla(90, 100%, 50%, 0.7);
}
.cube__face--window {
  background: hsla(270, 100%, 50%, 0.7);
}
.cube__face--rearwindow {
}*/

.cube__face--front {
}
.cube__face--back {
  clip-path: polygon(100% 50%, 100% 100%, 0% 100%, 0% 50%);
}
.cube__face--right {
  clip-path: polygon(
    91% 0%,
    43% 0%,
    37% 50%,
    0% 63%,
    0% 100%,
    100% 100%,
    100% 50%
  );
}
.cube__face--left {
  clip-path: polygon(
    9% 0%,
    57% 0%,
    63% 50%,
    100% 63%,
    100% 100%,
    0% 100%,
    0% 50%
  );
}
.cube__face--top {
}
.cube__face--bottom {
}
.cube__face--hood {
}
.cube__face--window {
}
.cube__face--rearwindow {
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(50px);
}
.cube__face--left,
.wheels {
  transform: rotateY(-90deg) translateZ(50px);
}
.party-text {
}
.cube__face--top {
  transform: rotateX(90deg) translateY(-33px) translateZ(50px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(0px);
}
.cube__face--hood {
  transform: rotateX(-100deg) translateY(-62px) translateZ(-5px);
}
.cube__face--window {
  transform: rotateX(13deg) translateY(-16px) translateZ(24px);
}
.cube__face--rearwindow {
  transform: rotateX(-19deg) translateY(6px) translateZ(-95px);
}

.cube.show-front {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-right {
  transform: translateZ(-50px) rotateY(-90deg);
}
.cube.show-left {
  transform: translateZ(-50px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-50px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-50px) rotateX(90deg);
}

@font-face {
  font-family: Sofia;
  src: url('https://fonts.googleapis.com/css?family=Sofia');
}

.car-text {
  font-size: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  color: black;
  line-height: 115px;
  padding-left: 5px;
  transform: rotate(15deg);
}
.party-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  // font-style: italic;
  font-weight: bold;
  color: black;
}
.party-text-positioning {
  transform-style: preserve-3d;
  transform: translateZ(190px) translateY(-25px) translateX(-10px)
    rotateY(-90deg);
}

.car-window {
  width: 100%;
  height: 100%;
  background-color: rgb(200, 200, 200);
  clip-path: inset(3px 3px 3px 3px);
  border: 5px solid #333;
}

.car-light-left,
.car-light-right {
  height: 15px;
  width: 15px;
  background-color: gold;
  position: absolute;
  top: 5px;
  border: 2px solid black;
}
.car-light-left {
  left: 5px;
}
.car-light-right {
  right: 5px;
}

.scene.enable-transitions #path,
.scene.enable-transitions .path-marker,
.scene.enable-transitions #car,
.scene.enable-transitions #pen {
  transition: transform 2s;
}

.scene.enable-fast-transitions #path,
.scene.enable-fast-transitions .path-marker,
.scene.enable-fast-transitions #car,
.scene.enable-fast-transitions #pen {
  transition: transform 0.1s;
}

@import './road.scss';
@import './balloons.scss';
@import './paintbucket.scss';
@import './splatter.scss';
