.cube-road {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 185px;
  left: 0px;
  transform-style: preserve-3d;
}

.road-face {
  position: absolute;
  width: 300px;
  height: 1000px;
  top: -400px;
  left: 50px;
}

.road-face {
  border: 2px solid black;
  background-color: grey;
}

.road-face {
  transform: rotateX(-90deg) translateZ(0px);
}

.road-face::before {
  content: '';
  position: absolute;
  width: 10px;
  left: 150px;
  height: 100px;
  top: 50px;
}

.road-face::before {
  background-color: white;
  box-shadow: 0px 200px white, 0px 400px white, 0px 600px white, 0px 800px white;
  animation: move 1s linear infinite reverse;
}

.road-path {
  width: 100%;
  height: 100%;
  transform: translateY(290px);
}

.path-marker {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--car-color);
  // transition: transform 2s;
}

.path-marker.left {
  transform: translateX(50px);
}

.path-element {
  position: absolute;
  left: 150px-10px;
}
.path-element:nth-child(1) {
  transform: translateY(0px);
}
.path-element:nth-child(2) {
  transform: translateY(40px);
}
.path-element:nth-child(3) {
  transform: translateY(80px);
}
.path-element:nth-child(4) {
  transform: translateY(120px);
}
.path-element:nth-child(5) {
  transform: translateY(160px);
}
.path-element:nth-child(6) {
  transform: translateY(200px);
}
.path-element:nth-child(7) {
  transform: translateY(240px);
}

.ramp {
  position: absolute;
  transform-style: preserve-3d;
}

.road-ramp {
  position: absolute;
  height: 100px;
  width: 300px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
  transform-style: preserve-3d;
  transform: rotateY(-90deg) translateZ(100px);
  border: 2px solid black;
  background-color: grey;
}

.road-face-ramp {
  position: absolute;
  width: 300px;
  height: 316px; // sqrt(100 * 100+300 * 300)
  top: -107px;
  left: 50px;
  transform-style: preserve-3d;
  transform: rotateX(-71.5deg) translateZ(0px);
  border: 2px solid black;
  background-color: grey;
}

.road-face-ramp::before {
  content: '';
  position: absolute;
  width: 10px;
  left: 150px;
  height: 100px;
  top: 100px;
  background-color: white;
}

.road-ramp-back {
  position: absolute;
  height: 100px;
  width: 300px;
  top: 0px;
  left: 50px;
  transform-style: preserve-3d;
  transform: translateZ(150px);
  border: 2px solid black;
  background-color: grey;
}
